#Struktur Data Tuple

Tuple dalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis ,dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan .elemen yag dipisahkan dengan koma.

In [2]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [3]:
#Menampilkan tipe struktur data
type(T1)

tuple

**Latihan**

In [15]:
#Buatlah tuplemu sendiri

T3 = (2, "lima", True, 5-3, 3+2j)
print("Ini adalah tuple T3", T3)

Ini adalah tuplt (2, 'lima', True, 2, (3+2j))

**Sifat-sifat Tuple**

In [4]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [5]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [6]:
#Dapat Diimdeks/Slicing
print("elemen kedua dari tuplr T1 adalah: ", T1[1])

elemen kedua dari tuplr T1 adalah:  dua

In [7]:
#Dapat Diizinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

**Menggabungkan Tuple**

In [8]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan 2**

In [18]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
T4 = (0.5, "C++", "Bjarne Stroutup", 25)
T4

#Menggabungkan Tuple T3 dan T4
T7 = T3 + T4
T7

(2, 'lima', True, 2, (3+2j), 0.5, 'C++', 'Bjarne Stroutup', 25)